@media (max-width: 1200px) {

    .cabecalho {
        padding: 10%;
    }
    .cabecalho__menu {
        justify-content: center;
    }

    .aprensentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo {
        width: auto;
    }
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #000;
    --azul-secundaria: #f6f6f6;
    --cor-terciaria:#22D4FD;
    --cor-hover:#272727;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--azul-secundaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
    font-family:'Times New Roman', Times, serif
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;   
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 50%;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.5rem;
    padding:16px 0;
    color: var(--azul-secundaria);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 15px;
    font-weight: 300;
    text-decoration: none;
    text-align: center
}

.apresentacao__links__links:hover {
    background-color: var(--cor-hover);
}

.eu {
    max-width: 50%;
    max-height: 500px;
    border-radius: 16px;
}

.rodape {
    background-color: var(--cor-terciaria);
    color: #000000;
    padding:24px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    width: 100%;
}

